.wrapper {
  position: relative;
  line-height: 0;
  .figure {
    background-color: white;
    .figure_img {
      aspect-ratio: auto 500 / 300;
      width: 100%;
    }

    .figcaption {
      font-style: normal;
      height: 90px;
      max-height: 100%;
      position: absolute;
      bottom: 0;
      background-color: #00000063;
      width: 100%;

      .title {
        margin: 0;
        padding: 15px 20px;

        p {
          font-weight: bold;
          font-size: 20px;
          line-height: 29px;
          letter-spacing: 0.07px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          margin: 0;
          color: white;
        }
      }
    }
  }

  &:hover {
    .figure_img {
      transition: all 0.3s ease;
      min-width: 108% !important;
      min-height: 108% !important;
      transform: translateX(-4%);
    }
  }

  &.small_image {
    .figcaption {
      height: 70px;
      .title p {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}