.admin-login-page {
  display: flex;
  padding: 10px;

  .account-box {
      padding: 20px 30px;
      background: white;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .register-box {
      margin: 100px auto 0;
  }

  @media (min-width: 567px) {
      .register-box {
          width: 500px;
      }
  }

  @media (min-width: 768px) {
      
  }

  @media (min-width: 992px) {
      
  }

  @media (min-width: 1200px) {
      
  }
}


