.seo_btn {
  position: fixed;
  top: 10px;
  right: 40px;
  width: 40px;
  height: 40px;
  border: 2px #0c6 solid;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  cursor: pointer;
  background-color: #e5faef;
  box-shadow: 0px 0px 8px #ddd;

  span {
    font-weight: 600;
    color: #0c6;
  }

  label {
    position: absolute;
    top: -8px;
    right: -8px;
    background: red;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    font-weight: 600;
    color: white;
  }

  &:hover {
    border-color: rgb(14, 175, 94);
    span {
      color: rgb(8, 156, 82);
      font-size: 15px;
    }
  }

  &.error {
    border-color: #fa3;
    background-color: #f9f2e7;

    span {
      color: #ffab36;
    }

    &:hover {
      border-color: rgb(248, 154, 22);
      span {
        color: rgb(255, 160, 28);
      }
    }
  }

  .spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.3;
  }
}

.drawer {
  &>div:first-child {
    padding: 16px !important;

    .calculating_label {
      font-size: 12px;
    }
  }

  &>div:last-child {
    padding: 0;

    section {
      padding: 0 16px;
    }

    .items {
      &>div {
        &:not(:first-child) {
          margin-top: 6px;
        }

        display: flex;
        align-items: top;

        svg {
          color: red;
          position: relative;
          top: 5px;
        }

        label {
          width: calc(100% - 20px);
          margin-left: auto;
        }

        &.passed {
          svg {
            color: green;
          }
        }
      }
    }
  }
}