$imgWidth: 100px;

.wrapper {
  .figure {
    display: flex;
    margin-bottom: 20px;

    .figure_img {
      aspect-ratio: auto 500 / 300;
      width: 100%;
    }

    .figcaption {
      width: calc(100% - #{$imgWidth} - 20px);
      margin-left: auto;
    }

    .title {
      margin: 0;
      padding: 0;

      p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        margin: 0;
      }
    }
  }
}